<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
  </head>
  <body style="background-color: beige;">
    <div class="m-5">
      <div class="text-center">
        <h1>Weather App</h1>
      </div>
      <form action="/weather/">
        <div class="form-group" style="margin: 25px auto; width: 500px;">
            <input type="text" name="location" class="form-control" id="location" placeholder="Enter City here...">
          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn" style="background-color: cadetblue;">Submit</button>
          </div>
      </form>
    </div>
   
  </body>
</html>