<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
  </head>
  <body style="background-color: beige;">
    <div class="text-center">
      <div class="card", style="background-color: white; width: 30rem; margin:auto; margin-top:225px">
        <h1 style="text-decoration: underline;">WEATHER</h1>
        <img src="<%=icon%>" alt="weather icon" style="width: 100px; height: 100px; margin: 0 auto;">
        <h2><%=main%></h2>
        <h2>temperature: <%=temp%>°C</h2>
        <h2>feels like: <%=feels_like%>°C</h2>
      </div>
      </div>
  </body>
</html>